.newUser-ctrl {
    flex: 5;
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;

}

.newUser-title {
    margin-left: 1rem;
}

.newUser-inputs {
    display: flex;
    flex-wrap: wrap;
}

.newUser-inputs-item {
    margin: 0 1rem;
}

.newUser-inputs-item-title {
    margin-bottom: 5px;
}

.newUser-inputs-item-input {
    border: none;
    width: 30rem;
    font-size: 18px;
    padding: .8rem .5rem;
    border-radius: .5rem;
    background-color: rgb(233, 230, 230);
}

.newUser-btn {
    background-color: teal;
    color: white;
    font-size: 20px;
    border-radius: .5rem;
    outline: none;
    border: none;
    padding: .5rem 1.5rem;
    margin: 2rem 0 2rem 1rem;
}

.newUser-btn:hover {
    background-color: rgb(1, 90, 90);
    cursor: pointer;
}