.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-ctrl {
    background-color: rgb(10, 10, 63);
    padding: 1rem;
    border-radius: .5rem;

}

.form-input {
    border: none;
    outline: none;
    margin: .6rem 0;
    font-size: 20px;
    padding: .3rem;

}

.form-btn {
    width: 100%;
    border: none;
    outline: none;
    margin: .6rem 0;
    font-size: 20px;
    background-color: rgb(74, 154, 74);
    color: white;
    padding: .3rem;
}

.form-btn:hover {
    background-color: rgb(39, 121, 39);

}