.sidebar-page {
    flex: 1;
    position: sticky;
}

.sidebar-ctrl {
    border-radius: .5rem;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, .75);
    background-color: white;


}

.sidebar {
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 2900;


}

.sidebar-title {
    margin-left: 5px;
    font-size: 25px;
}

.sidebar-dashboard {}

.sidebar-dashboard-menu {}

.sidebar-dashboard-menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: .5rem;
    text-decoration: none !important;
    color: brown !important;
    line-height: 2rem;
    font-size: 20px;


}

.sidebar-dashboard-menu-item-logo {
    margin-right: .5rem;
    font-size: 20px;

}

.sidebar-dashboard-menu-item:hover {
    background-color: rgb(237, 224, 215);
    border-radius: .5rem;
    font-weight: bold;

}